* {
  font-family: "Inconsolata", Courier, monospace;
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

.about__text {
  list-style-type: none;
}

.about__text li:before {
  content: '-';
  /* position: absolute; */
  /* margin-left: 10px; */
}

.translucent_card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px 32px 0 rgb(39, 50, 209);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 2px solid rgb(38, 57, 224);
}

.url {
  text-decoration: none;
}

.inline {
  display: inline-block;
}

.skills__names {
  -webkit-backdrop-filter: blur( 20px);
  backdrop-filter: blur( 15px);
  width: -moz-fit-content;
  width: fit-content;
}

.skills__data {
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  font-size: 16px;
  /* word-wrap: break-word; */
  margin: 5px;
  display: inline-block;
  background-color: black;
  padding: 5px 2px;
  align-items: center;
}

.project__card {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.project__desc__card {
  height: 70px;
}

.project__card__title {
  height: 70px;
}