* {
  font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
  }
  
  body {
    background: rgb(5, 3, 37);
    background: linear-gradient(150deg, rgba(5, 3, 37, 0.9867297260701156) 0%, rgba(31, 31, 150, 1) 32%, rgba(0, 103, 79, 1) 83%);
  }
  
  main {
    width: 100%;
    min-height: 100vh;
}

html.sr .load-hidden {
  visibility: hidden;
}

.about__text {
  list-style-type: none;
}

.about__text li:before {
  content: '-';
}

.translucent_card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px 32px 0 rgb(39, 50, 209);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 2px solid rgb(38, 57, 224);
}

.url {
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

.hero__img {
  display: block;
  box-sizing: border-box;
  border: 5px solid #2a1ed3;
}
.skills__names {
  -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(15px);
  width: -moz-fit-content;
  width: fit-content;
}

.skills__data {
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  font-size: 16px;
  /* word-wrap: break-word; */
  margin: 5px;
  display: inline-block;
  background-color: black;
  padding: 5px 2px;
  align-items: center;
}

.project__card {
  background: #ffffff;
  border-radius: 10px;
  color: black;
  border: 1px solid rgb(255, 255, 255);
}

.project__desc__card {
  height: 70px;
}

.project__card__title {
  height: 70px;
}

.list-group-item {
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-radius: 0;
  color: #fff;
}


/* BLINKING CURSOR */

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-moz-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@-o-keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: white;
  }
}
/* IMAGE BORDER */