{% extends 'base.html' %}

{% block title %}
Aditya Agarwal | Software Development & Machine Learning Projects
{% endblock %}

{% block meta_description %}Explore the professional resume of Aditya Agarwal, showcasing experience in software
development, machine learning projects, and AI innovations. Discover skills, projects, and
accomplishments.{% endblock %}

{% block main %}
<div class="container">
    <div class="resume-section">
        <h1><a href="/">⬅️ </a>Aditya's - Resume</h1>
        <div class="card">
            <div class="card-body">
                <iframe src="https://drive.google.com/embeddedfolderview?id=1VBaccWCbWpR8kPNMyN3ECSYLVwti5ezb#list"
                    frameborder="1" height="600px" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}