{% extends 'base.html' %}
{% set active_item = 'contact' %}

{% block head %}

<title>@adi_agarwal- Contact</title>

{% endblock %}

{% block body %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script>
    function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
            val.value = val.value.substring(0, 500);
        } else {
            $('#charNum').text(500 - len);
        }
    };
</script>

<section class="contact section" id="contact">
    <h2 class="section-title">contact me</h2>
    <div class="my-3">

        <form action={{ url_for('contact') }} method="POST" class="lg-4">

            <div class="my-2">
                <label id="name" class="form-label">full name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="full name" required>
            </div>

            <div class="my-2">
                <label id="contact" class="form-label">phone (optional)</label>
                <input type="tel" name="contact" class="form-control" id="contact" placeholder="contact no.">
            </div>

            <div class="my-2">
                <label id="email" class="form-label">email address</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com"
                    required>
            </div>

            <div class="my-2">
                <label id="message" class="form-label">message</label>
                <textarea type="textbox" name="message" class="form-control" id="message" placeholder="message ..."
                    maxlength="500" cols="0" rows="5" onkeyup="countChar(this)"></textarea>

                <div class="contact__input" id="the-count">
                    <span id="current">0</span>
                    <span id="maximum">/ 500</span>
                </div>
            </div>

            <div class="g-recaptcha my-2" data-sitekey="{{ sitekey }}"></div>
            <br>
            <div class="text-center my-2">
                <input type="submit" value="Senden" class="btn btn-success">
            </div>

        </form>

</section>

{% endblock %}