{% extends 'base.html' %}
{% set active_item = 'contact' %}

{% block head %}

<title>@adi_agarwal- Contact</title>

{% endblock %}


{% block body %}

<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>
    <div class="contact__container bd-grid">

        <form action="/contact" method="post" class="contact__form">
            <input name="name" type="text" placeholder="Name" id="name" maxlength="50" class="contact__input" required>
            <input name="contact" type="text" placeholder="Contact No." maxlength="15" id="contact"
                class="contact__input">
            <input name="email" type="mail" placeholder="Email" id="email" maxlength="50" class="contact__input"
                required>
            <textarea name="message" name="" placeholder="Message" id="message" maxlength="100" cols="0" rows="7"
                class="contact__input" required></textarea>
            <input type="submit" value="Senden" class="contact__button button">
        </form>

</section>

{% endblock %}