<footer class="footer">
    <p class="footer__title">print("Let's get in touch.")</p>
    <div class="footer__social">
        <a href="https://www.facebook.com/adiagarwalrock" class="footer__icon">
            <i class="bx bxl-facebook bx-tada-hover"></i>
        </a>
        <a href="https://www.instagram.com/adi_aagarwal/" class="footer__icon">
            <i class="bx bxl-instagram bx-tada-hover"></i>
        </a>
        <a href="https://github.com/adiagarwalrock" class="footer__icon">
            <i class="bx bxl-github bx-tada-hover"></i>
        </a>
        <a href="https://www.linkedin.com/in/adityaagarwal1999/" class="footer__icon">
            <i class="bx bxl-linkedin bx-tada-hover"></i>
        </a>
    </div>
    <p>
        <a href="mailto:aditya.ag1234@gmail.com">
            --> aditya.ag1234@gmail.com <-- </a>
    </p>
    <!-- <p><br />&#169; 2020 copyright all right reserved</p> -->
    <p calss="footer__link">
        Made with ❤ in <a href="https://en.wikipedia.org/wiki/India">INDIA</a>
    </p>
</footer>