<div class="p-3 footer">
    <center>
        <div class="row mt-3">
            <div class="text-center user-select-none">
                <p calss="fs-5 text-light">
                    Made with ❤ in <a class="text-lignt" style="text-decoration: none"
                        href="https://en.wikipedia.org/wiki/India">INDIA</a>
                </p>
                <hr>
                <section class="my-2 container" id="quote">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p class="fs-5">Talk is Cheap. Show me the Code.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-6 text-light">
                            Linus Torvalds
                        </figcaption>
                    </figure>
                </section>
            </div>
        </div>
    </center>
</div>