{% extends 'base.html' %}


{% block cssblock %}
{% endblock %}


{% set active_item = 'home' %}


{% block head %}
<title>@adi_agarwal</title>
{% endblock %}


{% block body %}

<!--===== HOME =====-->
<section class="my-3" id="home">
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse align-items-center py-5">

            <div class="col-10 col-sm-8 mx-auto col-lg-6" style="align-items: center!important;">
                <center>
                    <img style="justify-content: center" src="{{ url_for('static', filename='img/about.jpg') }}"
                        alt="@adi_agarwal" class="d-block user-select-none rounded-3 mx-lg-auto img-fluid" height="600"
                        loading="lazy">
                </center>
            </div>

            <div class="col-lg-6 my-3">
                <h1 class="display-4 user-select-none p-2 lh-1 mb-3">Hi, I'm Aditya 😃
                </h1>
                <p>
                    Learning and exploring fascinates me.<br>I like meeting people and connecting.
                    I am still a novice but have biG plans for the future.
                    <br>If you are intrigued, go ahead to my profile or head to the RESUME.
                </p>
                <p>
                    Reach out to me on social media or at
                    <a style="color:#77ACF1" href="mailto:aditya.ag1234@gmail.com?subject=A contact form your website">
                        aditya.ag1234@gmail.com</a>
                </p>

                <div class="pt-2 d-md-flex justify-content-md-start">
                    <div class="home__social">
                        <a href="https://www.linkedin.com/in/adityaagarwal1999/" class="px-2">
                            <img
                                src="https://img.icons8.com/external-justicon-flat-justicon/40/000000/external-linkedin-social-media-justicon-flat-justicon.png" /></a>
                        <a href="https://www.hackerrank.com/aditya_ag1234?hr_r=1" class="px-2">
                            <img src="https://img.icons8.com/windows/40/000000/hackerrank.png" /></a>
                        <a href="https://github.com/adiagarwalrock" class="px-2">
                            <img src="https://img.icons8.com/doodle/40/000000/github--v1.png" /></a>
                        <a href="https://www.kaggle.com/adiagarwalrock" class="px-2">
                            <img src="https://img.icons8.com/windows/40/000000/kaggle.png" /></a>
                    </div>`
                </div>
            </div>
        </div>
    </div>
</section>
<!--===== HOME =====-->


<!--===== SKILLS =====-->
{% include "skills.html" %}
<!--===== SKILLS =====-->


<!--===== PROJECTS =====-->
{% include "project.html" %}
<!--===== PROJECTS =====-->


{% endblock %}