<section class="skills section" id="skills">
    <h2 class="section-title">2. Skills</h2>
    <div styles=="margin: 20px" align="center">

        <!-- ===LANGUAGES=== -->
        <div>
            <h2 class="skills__subtitle">Languages</h2>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/python.png') }}" class="skills__icon">
                    <span class="skills__name">Python</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/java.png') }}" class="skills__icon">
                    <span class="skills__name">Java</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/c++.png') }}" class="skills__icon">
                    <span class="skills__name">C++</span>
                </div>
            </div>
        </div>

        <!-- ===DATABASES=== -->
        <div>
            <h2 class="skills__subtitle">Databases</h2>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/mysql.png') }}" class="skills__icon">
                    <span class="skills__name">MySQL</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/sqlite.png') }}" class="skills__icon">
                    <span class="skills__name">SQLite</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/neo4j.png') }}" class="skills__icon">
                    <span class="skills__name">Neo4j</span>
                </div>
            </div>
            <!-- <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/mongodb.png') }}" class="skills__icon">
                    <span class="skills__name">MongoDB</span>
                </div>
            </div> -->
        </div>

        <!-- ===TECHNOLOGIES=== -->
        <div>
            <h2 class="skills__subtitle">Technologies</h2>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/tensorflow.png') }}" class="skills__icon">
                    <!-- <i <span class="iconify" data-icon="logos-tensorflow" data-inline="false"></span>></i> -->
                    <span class="skills__name">TensorFlow</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/flask.png') }}" class="skills__icon">
                    <span class="skills__name">Flask</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/opencv.png') }}" class="skills__icon">
                    <span class="skills__name">OpenCV</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/cnn.png') }}" class="skills__icon">
                    <span class="skills__name">Neural Networks</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/django.png') }}" class="skills__icon">
                    <span class="skills__name">Django</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <img src="{{ url_for('static', filename='icons/docker.png') }}" class="skills__icon">
                    <span class="skills__name">Docker</span>
                </div>
            </div>
        </div>
        
        <!-- ===WEB TECHNOLOGIES=== -->
        <div>
            <h2 class="skills__subtitle"> Web Technologies</h2>
            <div class="skills__data">
                <div class="skills__names">
                    <!-- <img src="{{ url_for('static', filename='icons/html.png') }}" class="skills__icon"> -->
                    <i class='bx bxl-html5 skills__icon'></i>
                    <span class="skills__name">HTML</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <!-- <img src="{{ url_for('static', filename='icons/css.png') }}" class="skills__icon"> -->
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <!-- <img src="{{ url_for('static', filename='icons/javascript.png') }}" class="skills__icon"> -->
                    <i class='bx bxl-javascript skills__icon'></i>
                    <span class="skills__name">JAVASCRIPT</span>
                </div>
            </div>
        </div>
    </div>
</section>