{% extends 'base.html' %}


{% block title %}
@adi_agarwal
{% endblock %}



{% block main %}



<section class="py-3" id="intro">
    <div class="row flex-lg-row-reverse d-flex justify-content-between py-auto">
        <div class="col-10 col-sm-8 col-lg-6" style="align-items: center!important;">
            <center>
                <img style="max-height: 200px; border-radius: 50%; float: right;"
                    src="{{ url_for('static', filename='img/aditya_profile.jpg') }}" loading="eager" alt="@adi_agarwal"
                    class="user-select-none align-center home__img img-fluid" loading="lazy">
            </center>
        </div>

        <div class="col-lg-6 my-3">
            <h1 class="user-select-none home__title">Hello World,<br>I'm Aditya Agarwal😃
            </h1>
            <div class="row">
                <div class="py-2 px-0 home__social-icon">
                    <div class="inline">
                        <a href="https://www.linkedin.com/in/adityaagarwal1999/" class="px-2">
                            <img src="https://img.icons8.com/color/35/000000/linkedin.png" />
                        </a>
                    </div>
                    <div class="inline">
                        <a href="https://github.com/adiagarwalrock" class="px-2">
                            <img src="https://img.icons8.com/doodle/35/000000/github--v1.png" />
                        </a>
                    </div>
                    <div class="inline">
                        <a href="https://www.hackerrank.com/aditya_ag1234?hr_r=1" class="px-2">
                            <img
                                src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/35/null/external-hackerrank-is-a-technology-company-that-focuses-on-competitive-programming-logo-color-tal-revivo.png" />
                        </a>
                    </div>
                    <div class="inline">
                        <a href="mailto:aagarw14@stevens.edu?subject=Let's Connect!" class="px-2">
                            <img src="https://img.icons8.com/tapes/35/000000/experimental-email-tapes.png" />
                        </a>
                    </div>

                </div>
            </div>
            </div>
            </div>

    <div class="row">
        <p class="about__text">
        <ul class="text-justify fs-4 lead py-1 about__text" styles="list-style-type: '-';">
            <!-- <li>🔭 Grad student at Stevens Institute of Technology in Machine Learning.</li> -->
            <li>🥅 2023 Goals: Get an Internship.</li>
            <li>🎨 Love to code in Python, Java.</li>
            <li>💻 I am a self-taught programmer and am always looking to learn new things.</li>
            <li>🌱 Currently learning Machine Learning.</li>
            <li>⚡ Fun fact: I love to Paint and Game.</li>
            <li>🤝 I like meeting people and connecting.</li>
            <li>⚛️ Still a novice but have biG plans for the future.</li>
            <li>🎮 I love to play games and watch movies.</li>
            <li>✌ If you are intrigued, Let's
                <a class="text-light" href="https://www.linkedin.com/in/adityaagarwal1999/">connect</a>.
            </li>
            </ul>
            </p>
            </div>
            </section>


<section class="py-3 education" id="education">
    <h2 class="user-select-none fw-bold"> > Education 🎓</h2>
    <hr>
    <ol class="list-group list-group-flush py-2">
        <li class="list-group-item border-0 d-flex education justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold fs-4">Masters in Machine Learning</div>
                <div class="fs-5">
                    <div>Stevens Institute of Technology</div>
                    <div>
                        <details>
                            <summary>Relevant Courses</summary>
                            <ul>
                                <li>Mathematical Foundations of Machine Learning</li>
                                <li>Machine Learning: Fundamentals and Application</li>
                                <li>Artificial Intelligence</li>
                            </ul>
                        </details>
                    </div>
                </div>
            </div>
            <span class="badge bg-success fs-5 rounded-pill">Sep 2022 &rightarrow; May 2024</span>
        </li>
        <li class="list-group-item border-0 d-flex education justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold fs-4">Bachelors in Computer Science and Engineering</div>
                <div class="fs-5">
                    <div>Alliance University</div>
                    <div>
                        <details>
                            <summary>Relevant Courses</summary>
                            <ul>
                                <li>Database Management Systems</li>
                                <li>Operating Systems</li>
                                <li>Data Structures</li>
                                <li>Big data Analytics</li>
                                <li>Data Management and Data Warehousing</li>
                                <li>Engineering Mathematics (Probability, Statistics, Calculus)</li>
                                <li>Cloud Computing</li>
                            </ul>
                        </details>
                    </div>
                </div>
            </div>
            <span class="badge bg-success fs-5 rounded-pill">Aug 2017 &rightarrow; Jul 2021</span>
        </li>
    </ol>
</section>

<section class="py-3 all__skills" id="skills">
    <h2 class="user-select-none fw-bold"> > Skills 👨‍💻</h2>
    <hr>
    <div>
        <div class="row row-cols-1 row-cols-md-2">
            {% for cat in skill_category %}
            <div class="col all__skills pb-4">
                <div class="mt-3">
                    <p class="h3">- {{cat | capitalize}}</p>
                    <div>
                        {% for item in skills_data[cat] %}
                        <div classs="p-2" style="display:inline;">
                            <span style="border-radius: 10px;" class="skills__data fs-5">
                                {% if item != 'nan' %}
                                {% set path_img = 'icons/' + item + '.png'%}
                                <span class="text-nowrap">
                                    <img style="border-radius:20px;" width="40px" class="py-1 px-2"
                                        src="{{ url_for('static', filename=path_img)}}" alt="{{item}}">
                                    <span class="pe-3 text-light">
                                        {{item}}
                                    </span>
                                </span>
                                {% endif %}
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-3" id="projects">
    <h2 class="user-select-none fw-bold">> Projects ✍</h2>
    <hr>
    <div class="">
        <div class="row">
            {% for item in content%}
            {% if item.full_name in projects_data %}
            <div class="col-lg-4 col-md-6">
                <div class="card border-dark project__card mt-3 mb-2">
                    <div class="card-body">
                        <h5 class="card-title project__card__title">
                            <img src="https://img.icons8.com/glyph-neue/30/000000/repository.png"
                                alt="repository-image" />
                            <a href="{{item.html_url}}" class="url fs-4 text-dark fw-bold">
                                {{item.full_name.split('/')[1]}}
                            </a>
                            </h5>
                            <div card="card-text">
                            <p class="card-text text-dark fs-5 project__desc__card">
                                {% if item.description %}
                                {{item.description[:45]}}...
                                {% else %}
                                no description
                                {% endif %}
                                </p>
                                </div>
                    </div>
                    </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </div>

        <div class="py-2 my-2">
            <center>
                <a href="https://www.github.com/adiagarwalrock" class="btn btn-primary btn-lg">
                    <span class="p-2">
                        More projects...
                    </span>
                </a>
            </center>
        </div>
        </div>
        </section>


<section class="py-3 certifi__all" id="certificates">
    <h2 class="user-select-none fw-bold">> Certificates 📜</h2>
    <hr>
    <ol class="list-group list-group-numbered list-group-flush">
        {% for item in cert_data %}
        <li class="list-group-item border-0 fs-4 certifi__all d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{item[0]}}</div>
                <figcaption class="blockquote">
                    {% if item[2] != '' %}
                    {{item[2]}} |
                    {% endif %}
                    <cite title="{{item[1]}}">
                        {{item[1]}}
                    </cite>
                </figcaption>
            </div>
            <span class="badge bg-success rounded-pill">{{item[3]}}</span>
        </li>
        {% endfor %}
        </ol>
        </section>


{% endblock %}