<!DOCTYPE html>
<html class="sr" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Portfolio website of Aditya Agarwal; Grad student at Stevens Institute of Technology majoring in Machine Learning .">

        <!-- =====FAVICON===== -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/logo.png') }}">

        <!-- =====TOUCH-ICON===== -->
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ url_for('static', filename='icons/touch-icon-120x120-precomposed.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ url_for('static', filename='icons/touch-icon-152x152-precomposed.png') }}" />

        <!-- =====Bootstrap CSS===== -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- =====Bootstrap js===== -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>


        <title>@aditya_agarwal</title>
        <script src="https://unpkg.com/scrollreveal"></script>
    </head>


    <body class="container-sm py-5">

        <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
        <script src="http://code.jquery.com/jquery-1.5.js"></script>


        <section class="py-3" id="intro">
            <div class="row flex-lg-row-reverse d-flex justify-content-between py-auto">
                <div class="col-10 col-sm-8 col-lg-6" style="align-items: center!important;">
                    <center>
                        <img style="max-height: 200px; border-radius: 50%; float: right;"
                            src="{{ url_for('static', filename='img/about-circle.jpg') }}" loading="eager"
                            alt="@adi_agarwal" class="user-select-none align-center home__img img-fluid" loading="lazy">
                    </center>
                </div>

                <div class="col-lg-6 my-3">
                    <h1 class="user-select-none home__title">Hello World,<br>I'm Aditya Agarwal😃
                    </h1>
                    <p class="">
                    <ul class="fs-5 list-inline home__social-icon">
                        <li class="list-inline-item">
                            <a class="text-decoration-none" href="https://www.linkedin.com/in/adityaagarwal1999/"
                                target="_blank">
                                LinkedIn</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none" href="https://github.com/adiagarwalrock?tab=repositories"
                                target="_blank">
                                Github</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none"
                                href="{{url_for('static', filename='doc/aditya_agarwal_cv.pdf')}}" download>Resume</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none" href="https://www.hackerrank.com/aditya_ag1234?hr_r=1"
                                target="_blank">
                                HackerRank</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-decoration-none" href="mailto:adiagarwal1509@gmail.com" target="_blank">
                                Mail</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <p class="about__text">
                <ul class="text-justify fs-4 lead py-1 about__text" styles="list-style-type: '-';">
                    <li>🔭 I am aiming to obtain my Graduate Degree in Machine Learning.</li>
                    <li>🎨 Love to code in Python, Java, and C++.</li>
                    <li>💻 I am a selftaught programmer and I am always looking to learn new things.</li>
                    <li>🌱 Currently learning Machine Learning.</li>
                    <li>👯 I’m looking to collaborate with other developers.</li>
                    <li>🥅 2021 Goals: Build up my portfolio.</li>
                    <li>⚡ Fun fact: I love to Paint and Game.</li>
                    <li>🤝 I like meeting people and connecting.</li>
                    <li>⚛ Still a novice but have biG plans for the future.</li>
                    <li>🎮 I love to play games and watch movies.</li>
                    <li>✌ If you are intrigued, go ahead to my profile or head to the
                        <a class="text-decoration-none"
                            href="{{url_for('static', filename='doc/aditya_agarwal_cv.pdf')}}" download>RÉSUMÉ
                            📜.</a>
                    </li>
                </ul>
                </p>
            </div>
        </section>

        <section class="py-3" id="skills">
            <h2 class="user-select-none fw-bold">> Skills 👨‍💻</h2>
            <hr>
            <div>
                <div class="row row-cols-1 row-cols-md-2">
                    {% for cat in skill_category %}
                    <div class="col all__skills pb-4">
                        <div class="mt-3">
                            <p class="h3">- {{cat | capitalize}}</p>
                            <div>
                                {% for item in skills_data[cat] %}
                                <div classs="p-2" style="display:inline;">
                                    <span style="border-radius: 10px;" class="skills__data fs-5">
                                        {% if item != 'nan' %}
                                        {% set path_img = 'icons/' + item + '.png'%}
                                        <span class="text-nowrap">
                                            <img style="border-radius:20px;" width="40px" class="py-1 px-2"
                                                src="{{ url_for('static', filename=path_img)}}" alt="{{item}}">
                                            <span class="pe-3 text-light">
                                                {{item}}
                                            </span>
                                        </span>
                                        {% endif %}
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="py-3" id="projects">
            <h2 class="user-select-none fw-bold">> Projects ✍</h2>
            <hr>
            <div class="">
                <div class="row">
                    {% for item in content%}
                    {% if item.full_name in projects_data %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-dark project__card mt-3 mb-2">
                            <div class="card-body">
                                <h5 class="card-title project__card__title">
                                    <img src="https://img.icons8.com/glyph-neue/30/000000/repository.png"
                                        alt="repository-image" />
                                    <a href="{{item.html_url}}" class="url fs-4 fw-bold">
                                        {{item.full_name.split('/')[1]}}
                                    </a>
                                </h5>
                                <div card="card-text">
                                    <p class="card-text fs-5 project__desc__card">
                                        {% if item.description %}
                                        <b>Desc:</b> {{item.description[:45]}}...
                                        {% else %}
                                        no description
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="text-end">
                                    <span class="">
                                        <a href="{{item.html_url}}"
                                            class="btn text-align-end btn-outline-primary">View</a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="py-2 my-2">
                    <center>
                        <a href="https://www.github.com/adiagarwalrock" class="btn btn-primary btn-lg">
                            <span class="p-2">
                                More projects...
                            </span>
                        </a>
                    </center>
                </div>
            </div>
        </section>


        <section class="py-3" id="certificates">
            <h2 class="user-select-none fw-bold">> Certificates 📜</h2>
            <hr>
            <ol class="list-group list-group-numbered">
                {% for item in cert_data %}
                <li class="list-group-item fs-4 certifi__all d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{item[0]}}</div>
                        <figcaption class="blockquote">
                            {% if item[2] != '' %}
                            {{item[2]}} |
                            {% endif %}
                            <cite title="{{item[1]}}">
                                {{item[1]}}
                            </cite>
                        </figcaption>
                    </div>
                    <span class="badge bg-success rounded-pill">{{item[3]}}</span>
                </li>
                {% endfor %}
            </ol>
        </section>


        <!-- CONTACT FORM CARD -->
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title fw-bold" id="offcanvasWithBothOptionsLabel">Get in touch</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <form action={{ url_for('index') }} method="POST" class="lg-4">

                        <div class="my-2">
                            <label id="namelabel" class="form-label text-dark">full name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="full name"
                                required>
                        </div>

                        <div class="my-2">
                            <label id="contactLabel" class="form-label text-dark">phone (optional)</label>
                            <input type="tel" name="contact" class="form-control" id="contact"
                                placeholder="contact no.">
                        </div>

                        <div class="my-2">
                            <label id="emailLabel" class="form-label text-dark">email address</label>
                            <input name="email" type="email" class="form-control" id="email"
                                placeholder="name@example.com" required>
                        </div>

                        <div class="my-2">
                            <label id="messageLabel" class="form-label text-dark">message</label>
                            <textarea type="textbox" name="message" class="form-control" id="message"
                                placeholder="message ..." maxlength="500" cols="0" rows="5"
                                onkeyup="countChar(this)"></textarea>

                            <div class="contact__input text-dark" id="the-count">
                                <span id="current">0</span>
                                <span id="maximum">/ 500</span>
                            </div>
                        </div>

                        <div class="g-recaptcha my-2" data-sitekey="{{ sitekey }}"></div>

                        <div class="text-center my-2">
                            <input type="submit" value="Senden" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- CONTACT FORM CARD -->




    </body>
    <!--===== JS =====-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>